$tablets: 768px;
$less_than_tablets: 560px;
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(#fc466b, 0.8) 0%,
    rgba(#3f5efb, 0.8) 100%
  );
}
.app {
  padding: 50px;
  margin: 0 auto;
  height: 100vh;
  width: 1200px;

  @media (max-width: $tablets) {
    width: 100%;
    padding: 20px;
  }
  @media (max-width: $less_than_tablets) {
    width: 100%;
    padding: 5px;
  }
}
.app--inner {
  position: relative;
  background: rgba(#fff, 0.3);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.wordbox {
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  width: 90%;
  height: 80px;
  padding: 5px;
  overflow: hidden;
  font-size: 30px;
  margin: 0 auto;
  background-color: rgba(#fff, 0.9);
  border-radius: 10px;
  @media (max-width: $tablets) {
    width: 100%;
  }
}

.info {
  position: absolute;
  background-color: rgba(#fff, 0.7);
  padding: 20px;
  border-radius: 10px;
  top: 80%;
  left: 10%;
}
.word--active {
  background-color: rgba(#000, 0.1);
  border-radius: 8px;
  padding: 0px 1px;
}

.time-remain {
  color: red;
}

.wpm {
  color: green;
}

.input-wrapper {
  margin-top: 40px;
  text-align: center;
  flex-grow: 2;
  justify-self: center;
}
input {
  position: relative;
  width: 30%;
  height: 45px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  &:focus {
    border: 2px rgba(green, 0.2) solid;
  }
  @media (max-width: $tablets) {
    width: 60%;
  }
  @media (max-width: $less_than_tablets) {
    width: 60%;
  }
}

button {
  position: absolute;
  border: none;
  width: 5%;
  height: 45px;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  @media (max-width: $tablets) {
    width: 15%;
  }
  @media (max-width: $less_than_tablets) {
    padding: 0;
    font-size: 12px;
    width: 15%;
  }
  i {
    transition: all 0.5s;
  }
}
